=begin
#BWDK API

#<div dir=\"rtl\" style=\"text-align: right;\">  # مستندات فروشندگان در سرویس خرید با دیجی‌کالا  این پلتفرم برای فروشندگان (مرچنت‌ها) جهت یکپارچه‌سازی خدمات پرداخت و تجارت الکترونیکی با سیستم خرید با دیجی‌کالا. شامل مدیریت سفارشات، ارسال، و احراز هویت فروشندگان است.  </div> 

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module OpenapiClient
  class MerchantOrdersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # ساخت سفارش
    # <div dir=\"rtl\" style=\"text-align: right;\">  ساخت سفارش جدید در سیستم BWDK  ## توضیحات  این endpoint برای ایجاد یک سفارش جدید در سیستم خرید با دیجی‌کالا استفاده می‌شود. در این درخواست باید اطلاعات سفارش، اقلام سبد خرید، و آدرس callback شامل شود.  برای شروع ارتباط با سرویس‌های **خرید با دیجی‌کالا** شما باید دارای **API_KEY** باشید که این مورد از سمت تیم دیجی‌فای در اختیار شما قرار خواهد گرفت.  ### روند کاری  **مرحله ۱: درخواست ساخت سفارش**  کاربر پس از انتخاب کالاهای خود در سبد خرید، بر روی دکمه **خرید با دیجی‌کالا** کلیک می‌کند و بک‌اند مرچنت درخواستی برای ساخت سفارش BWDK دریافت می‌کند. در این مرحله اولین درخواست خود را به بک‌اند BWDK ارسال می‌نمایید:  BWDK یک سفارش جدید برای مرچنت با وضعیت **INITIAL** ایجاد می‌کند و **order_uuid** را جنریت می‌کند. آدرس **order_start_url** نقطه شروع مسیر تکمیل سفارش است (انتخاب آدرس، شیپینگ، پکینگ، پرداخت و غیره).  **مرحله ۲: بررسی نهایی سفارش پیش از تأیید**  پس از اینکه مشتری فرآیند پرداخت را تکمیل کرد و به **callback_url** هدایت شد، بک‌اند مرچنت باید پیش از فراخوانی verify، یک‌بار سفارش را دریافت کرده و مبالغ نهایی (شامل هزینه کالاها، شیپینگ، تخفیف‌ها و جمع کل) را با اطلاعات سمت مرچنت تطبیق دهد تا از صحت تراکنش اطمینان حاصل شود.  **مرحله ۳: تأیید سفارش**  پس از تطبیق موفق مبالغ، درخواست verify ارسال می‌شود تا سفارش نهایی و آماده ارسال گردد. <br> </div>  ```mermaid sequenceDiagram     participant M as فروشنده     participant API as BWDK API     participant C as مشتری     participant PG as درگاه پرداخت      M->>API: POST /api/v1/orders/create     Note over M,API: شناسه سفارش, کالاها, مبلغ, callback_url     API-->>M: {لینک شروع سفارش, شناسه سفارش}      M->>C: تغییر مسیر به لینک شروع      C->>API: تکمیل درخواست خرید توسط مشتری     API->>PG: شروع فرآیند پرداخت     PG-->>C: نتیجه پرداخت     PG->>API: تأیید پرداخت     API-->>C: تغییر مسیر به callback_url      M->>API: GET /api/v1/orders/manager/{uuid}     Note over M,API: بررسی نهایی مبالغ سفارش     API-->>M: اطلاعات سفارش (مبالغ، اقلام، وضعیت)      M->>API: POST /api/v1/orders/manager/{uuid}/verify     Note over M,API: {شناسه منحصربفرد فروشنده}     API-->>M: سفارش تأیید شد و آماده ارسال است ```  </div> 
    # @param order_create [OrderCreate] 
    # @param [Hash] opts the optional parameters
    # @return [OrderCreateResponse]
    def order_api_v1_create_order_create(order_create, opts = {})
      data, _status_code, _headers = order_api_v1_create_order_create_with_http_info(order_create, opts)
      data
    end

    # ساخت سفارش
    # &lt;div dir&#x3D;\&quot;rtl\&quot; style&#x3D;\&quot;text-align: right;\&quot;&gt;  ساخت سفارش جدید در سیستم BWDK  ## توضیحات  این endpoint برای ایجاد یک سفارش جدید در سیستم خرید با دیجی‌کالا استفاده می‌شود. در این درخواست باید اطلاعات سفارش، اقلام سبد خرید، و آدرس callback شامل شود.  برای شروع ارتباط با سرویس‌های **خرید با دیجی‌کالا** شما باید دارای **API_KEY** باشید که این مورد از سمت تیم دیجی‌فای در اختیار شما قرار خواهد گرفت.  ### روند کاری  **مرحله ۱: درخواست ساخت سفارش**  کاربر پس از انتخاب کالاهای خود در سبد خرید، بر روی دکمه **خرید با دیجی‌کالا** کلیک می‌کند و بک‌اند مرچنت درخواستی برای ساخت سفارش BWDK دریافت می‌کند. در این مرحله اولین درخواست خود را به بک‌اند BWDK ارسال می‌نمایید:  BWDK یک سفارش جدید برای مرچنت با وضعیت **INITIAL** ایجاد می‌کند و **order_uuid** را جنریت می‌کند. آدرس **order_start_url** نقطه شروع مسیر تکمیل سفارش است (انتخاب آدرس، شیپینگ، پکینگ، پرداخت و غیره).  **مرحله ۲: بررسی نهایی سفارش پیش از تأیید**  پس از اینکه مشتری فرآیند پرداخت را تکمیل کرد و به **callback_url** هدایت شد، بک‌اند مرچنت باید پیش از فراخوانی verify، یک‌بار سفارش را دریافت کرده و مبالغ نهایی (شامل هزینه کالاها، شیپینگ، تخفیف‌ها و جمع کل) را با اطلاعات سمت مرچنت تطبیق دهد تا از صحت تراکنش اطمینان حاصل شود.  **مرحله ۳: تأیید سفارش**  پس از تطبیق موفق مبالغ، درخواست verify ارسال می‌شود تا سفارش نهایی و آماده ارسال گردد. &lt;br&gt; &lt;/div&gt;  &#x60;&#x60;&#x60;mermaid sequenceDiagram     participant M as فروشنده     participant API as BWDK API     participant C as مشتری     participant PG as درگاه پرداخت      M-&gt;&gt;API: POST /api/v1/orders/create     Note over M,API: شناسه سفارش, کالاها, مبلغ, callback_url     API--&gt;&gt;M: {لینک شروع سفارش, شناسه سفارش}      M-&gt;&gt;C: تغییر مسیر به لینک شروع      C-&gt;&gt;API: تکمیل درخواست خرید توسط مشتری     API-&gt;&gt;PG: شروع فرآیند پرداخت     PG--&gt;&gt;C: نتیجه پرداخت     PG-&gt;&gt;API: تأیید پرداخت     API--&gt;&gt;C: تغییر مسیر به callback_url      M-&gt;&gt;API: GET /api/v1/orders/manager/{uuid}     Note over M,API: بررسی نهایی مبالغ سفارش     API--&gt;&gt;M: اطلاعات سفارش (مبالغ، اقلام، وضعیت)      M-&gt;&gt;API: POST /api/v1/orders/manager/{uuid}/verify     Note over M,API: {شناسه منحصربفرد فروشنده}     API--&gt;&gt;M: سفارش تأیید شد و آماده ارسال است &#x60;&#x60;&#x60;  &lt;/div&gt; 
    # @param order_create [OrderCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrderCreateResponse, Integer, Hash)>] OrderCreateResponse data, response status code and response headers
    def order_api_v1_create_order_create_with_http_info(order_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MerchantOrdersApi.order_api_v1_create_order_create ...'
      end
      # verify the required parameter 'order_create' is set
      if @api_client.config.client_side_validation && order_create.nil?
        fail ArgumentError, "Missing the required parameter 'order_create' when calling MerchantOrdersApi.order_api_v1_create_order_create"
      end
      # resource path
      local_var_path = '/order/api/v1/create-order/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(order_create)

      # return_type
      return_type = opts[:debug_return_type] || 'OrderCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['MerchantAPIKeyAuth']

      new_options = opts.merge(
        :operation => :"MerchantOrdersApi.order_api_v1_create_order_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MerchantOrdersApi#order_api_v1_create_order_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # لیست سفارشات
    # <div dir=\"rtl\" style=\"text-align: right;\">  لیست سفارشات فروشنده  ## توضیحات  این endpoint لیست تمام سفارشات مرتبط با فروشنده را با امکان فیلتر، جستجو و مرتب‌سازی برمی‌گرداند. نتایج به صورت صفحه‌بندی‌شده (Cursor Pagination) ارسال می‌شوند و به ترتیب جدیدترین سفارش اول مرتب می‌شوند.  نیاز به **API_KEY** فروشنده دارد.  ## پارامترهای فیلتر  * **status**: وضعیت سفارش (INITIAL, PENDING, PAID_BY_USER, VERIFIED_BY_MERCHANT, ...) * **created_at__gte / created_at__lte**: فیلتر بر اساس تاریخ ایجاد * **search**: جستجو در شماره تلفن مشتری، نام، کد مرجع، شناسه سفارش مرچنت * **ordering**: مرتب‌سازی بر اساس created_at, final_amount, status, merchant_order_id  </div> 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cities 
    # @option opts [Date] :created_at 
    # @option opts [String] :cursor مقدار نشانگر صفحه‌بندی.
    # @option opts [String] :order_ids 
    # @option opts [String] :ordering کدام فیلد باید هنگام مرتب‌سازی نتایج استفاده شود.
    # @option opts [String] :payment_types 
    # @option opts [String] :provinces 
    # @option opts [String] :reference_code 
    # @option opts [String] :search یک عبارت جستجو.
    # @option opts [String] :shipping_types 
    # @option opts [Integer] :status * &#x60;1&#x60; - اولیه * &#x60;2&#x60; - شروع شده * &#x60;3&#x60; - در انتظار * &#x60;4&#x60; - در انتظار درگاه * &#x60;5&#x60; - منقضی شده * &#x60;6&#x60; - لغو شده * &#x60;7&#x60; - پرداخت‌شده توسط کاربر * &#x60;8&#x60; - پرداخت موفیت آمیز نبود * &#x60;9&#x60; - تأیید شده توسط فروشگاه * &#x60;10&#x60; - تأیید توسط فروشگاه ناموفق بود * &#x60;11&#x60; - ناموفق از سوی فروشگاه * &#x60;12&#x60; - لغوشده توسط فروشگاه * &#x60;13&#x60; - درخواست بازگشت وجه به مشتری به دلیل درخواست مشتری * &#x60;14&#x60; - درخواست بازگشت وجه به فروشگاه پس از عدم تأیید توسط فروشگاه * &#x60;15&#x60; - درخواست بازگشت وجه به مشتری پس از ناموفق بودن توسط فروشگاه * &#x60;16&#x60; - بازپرداخت به فروشگاه پس از لغو توسط فروشگاه * &#x60;17&#x60; - بازپرداخت تکمیل شد * &#x60;18&#x60; - زمان انقضا گذشته است * &#x60;19&#x60; - تحویل شده * &#x60;20&#x60; - جمع اوری شده و در حال ارسال
    # @option opts [String] :statuses 
    # @option opts [Boolean] :today_pickup 
    # @return [PaginatedOrderDetailList]
    def order_api_v1_manager_list(opts = {})
      data, _status_code, _headers = order_api_v1_manager_list_with_http_info(opts)
      data
    end

    # لیست سفارشات
    # &lt;div dir&#x3D;\&quot;rtl\&quot; style&#x3D;\&quot;text-align: right;\&quot;&gt;  لیست سفارشات فروشنده  ## توضیحات  این endpoint لیست تمام سفارشات مرتبط با فروشنده را با امکان فیلتر، جستجو و مرتب‌سازی برمی‌گرداند. نتایج به صورت صفحه‌بندی‌شده (Cursor Pagination) ارسال می‌شوند و به ترتیب جدیدترین سفارش اول مرتب می‌شوند.  نیاز به **API_KEY** فروشنده دارد.  ## پارامترهای فیلتر  * **status**: وضعیت سفارش (INITIAL, PENDING, PAID_BY_USER, VERIFIED_BY_MERCHANT, ...) * **created_at__gte / created_at__lte**: فیلتر بر اساس تاریخ ایجاد * **search**: جستجو در شماره تلفن مشتری، نام، کد مرجع، شناسه سفارش مرچنت * **ordering**: مرتب‌سازی بر اساس created_at, final_amount, status, merchant_order_id  &lt;/div&gt; 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cities 
    # @option opts [Date] :created_at 
    # @option opts [String] :cursor مقدار نشانگر صفحه‌بندی.
    # @option opts [String] :order_ids 
    # @option opts [String] :ordering کدام فیلد باید هنگام مرتب‌سازی نتایج استفاده شود.
    # @option opts [String] :payment_types 
    # @option opts [String] :provinces 
    # @option opts [String] :reference_code 
    # @option opts [String] :search یک عبارت جستجو.
    # @option opts [String] :shipping_types 
    # @option opts [Integer] :status * &#x60;1&#x60; - اولیه * &#x60;2&#x60; - شروع شده * &#x60;3&#x60; - در انتظار * &#x60;4&#x60; - در انتظار درگاه * &#x60;5&#x60; - منقضی شده * &#x60;6&#x60; - لغو شده * &#x60;7&#x60; - پرداخت‌شده توسط کاربر * &#x60;8&#x60; - پرداخت موفیت آمیز نبود * &#x60;9&#x60; - تأیید شده توسط فروشگاه * &#x60;10&#x60; - تأیید توسط فروشگاه ناموفق بود * &#x60;11&#x60; - ناموفق از سوی فروشگاه * &#x60;12&#x60; - لغوشده توسط فروشگاه * &#x60;13&#x60; - درخواست بازگشت وجه به مشتری به دلیل درخواست مشتری * &#x60;14&#x60; - درخواست بازگشت وجه به فروشگاه پس از عدم تأیید توسط فروشگاه * &#x60;15&#x60; - درخواست بازگشت وجه به مشتری پس از ناموفق بودن توسط فروشگاه * &#x60;16&#x60; - بازپرداخت به فروشگاه پس از لغو توسط فروشگاه * &#x60;17&#x60; - بازپرداخت تکمیل شد * &#x60;18&#x60; - زمان انقضا گذشته است * &#x60;19&#x60; - تحویل شده * &#x60;20&#x60; - جمع اوری شده و در حال ارسال
    # @option opts [String] :statuses 
    # @option opts [Boolean] :today_pickup 
    # @return [Array<(PaginatedOrderDetailList, Integer, Hash)>] PaginatedOrderDetailList data, response status code and response headers
    def order_api_v1_manager_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MerchantOrdersApi.order_api_v1_manager_list ...'
      end
      allowable_values = [1, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 20, 3, 4, 5, 6, 7, 8, 9]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/order/api/v1/manager/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cities'] = opts[:'cities'] if !opts[:'cities'].nil?
      query_params[:'created_at'] = opts[:'created_at'] if !opts[:'created_at'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'order_ids'] = opts[:'order_ids'] if !opts[:'order_ids'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'payment_types'] = opts[:'payment_types'] if !opts[:'payment_types'].nil?
      query_params[:'provinces'] = opts[:'provinces'] if !opts[:'provinces'].nil?
      query_params[:'reference_code'] = opts[:'reference_code'] if !opts[:'reference_code'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'shipping_types'] = opts[:'shipping_types'] if !opts[:'shipping_types'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'statuses'] = opts[:'statuses'] if !opts[:'statuses'].nil?
      query_params[:'today_pickup'] = opts[:'today_pickup'] if !opts[:'today_pickup'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedOrderDetailList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['MerchantAPIKeyAuth']

      new_options = opts.merge(
        :operation => :"MerchantOrdersApi.order_api_v1_manager_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MerchantOrdersApi#order_api_v1_manager_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # سفارش پرداخت‌شده و تایید‌نشده
    # لیست تمامی سفارشاتی که توسط کاربر پرداخت شده اند ولی توسط فروشنده تایید نشده اند. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cities 
    # @option opts [Date] :created_at 
    # @option opts [String] :cursor مقدار نشانگر صفحه‌بندی.
    # @option opts [String] :order_ids 
    # @option opts [String] :ordering کدام فیلد باید هنگام مرتب‌سازی نتایج استفاده شود.
    # @option opts [String] :payment_types 
    # @option opts [String] :provinces 
    # @option opts [String] :reference_code 
    # @option opts [String] :search یک عبارت جستجو.
    # @option opts [String] :shipping_types 
    # @option opts [Integer] :status * &#x60;1&#x60; - اولیه * &#x60;2&#x60; - شروع شده * &#x60;3&#x60; - در انتظار * &#x60;4&#x60; - در انتظار درگاه * &#x60;5&#x60; - منقضی شده * &#x60;6&#x60; - لغو شده * &#x60;7&#x60; - پرداخت‌شده توسط کاربر * &#x60;8&#x60; - پرداخت موفیت آمیز نبود * &#x60;9&#x60; - تأیید شده توسط فروشگاه * &#x60;10&#x60; - تأیید توسط فروشگاه ناموفق بود * &#x60;11&#x60; - ناموفق از سوی فروشگاه * &#x60;12&#x60; - لغوشده توسط فروشگاه * &#x60;13&#x60; - درخواست بازگشت وجه به مشتری به دلیل درخواست مشتری * &#x60;14&#x60; - درخواست بازگشت وجه به فروشگاه پس از عدم تأیید توسط فروشگاه * &#x60;15&#x60; - درخواست بازگشت وجه به مشتری پس از ناموفق بودن توسط فروشگاه * &#x60;16&#x60; - بازپرداخت به فروشگاه پس از لغو توسط فروشگاه * &#x60;17&#x60; - بازپرداخت تکمیل شد * &#x60;18&#x60; - زمان انقضا گذشته است * &#x60;19&#x60; - تحویل شده * &#x60;20&#x60; - جمع اوری شده و در حال ارسال
    # @option opts [String] :statuses 
    # @option opts [Boolean] :today_pickup 
    # @return [PaginatedMerchantPaidOrderListList]
    def order_api_v1_manager_paid_list(opts = {})
      data, _status_code, _headers = order_api_v1_manager_paid_list_with_http_info(opts)
      data
    end

    # سفارش پرداخت‌شده و تایید‌نشده
    # لیست تمامی سفارشاتی که توسط کاربر پرداخت شده اند ولی توسط فروشنده تایید نشده اند. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cities 
    # @option opts [Date] :created_at 
    # @option opts [String] :cursor مقدار نشانگر صفحه‌بندی.
    # @option opts [String] :order_ids 
    # @option opts [String] :ordering کدام فیلد باید هنگام مرتب‌سازی نتایج استفاده شود.
    # @option opts [String] :payment_types 
    # @option opts [String] :provinces 
    # @option opts [String] :reference_code 
    # @option opts [String] :search یک عبارت جستجو.
    # @option opts [String] :shipping_types 
    # @option opts [Integer] :status * &#x60;1&#x60; - اولیه * &#x60;2&#x60; - شروع شده * &#x60;3&#x60; - در انتظار * &#x60;4&#x60; - در انتظار درگاه * &#x60;5&#x60; - منقضی شده * &#x60;6&#x60; - لغو شده * &#x60;7&#x60; - پرداخت‌شده توسط کاربر * &#x60;8&#x60; - پرداخت موفیت آمیز نبود * &#x60;9&#x60; - تأیید شده توسط فروشگاه * &#x60;10&#x60; - تأیید توسط فروشگاه ناموفق بود * &#x60;11&#x60; - ناموفق از سوی فروشگاه * &#x60;12&#x60; - لغوشده توسط فروشگاه * &#x60;13&#x60; - درخواست بازگشت وجه به مشتری به دلیل درخواست مشتری * &#x60;14&#x60; - درخواست بازگشت وجه به فروشگاه پس از عدم تأیید توسط فروشگاه * &#x60;15&#x60; - درخواست بازگشت وجه به مشتری پس از ناموفق بودن توسط فروشگاه * &#x60;16&#x60; - بازپرداخت به فروشگاه پس از لغو توسط فروشگاه * &#x60;17&#x60; - بازپرداخت تکمیل شد * &#x60;18&#x60; - زمان انقضا گذشته است * &#x60;19&#x60; - تحویل شده * &#x60;20&#x60; - جمع اوری شده و در حال ارسال
    # @option opts [String] :statuses 
    # @option opts [Boolean] :today_pickup 
    # @return [Array<(PaginatedMerchantPaidOrderListList, Integer, Hash)>] PaginatedMerchantPaidOrderListList data, response status code and response headers
    def order_api_v1_manager_paid_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MerchantOrdersApi.order_api_v1_manager_paid_list ...'
      end
      allowable_values = [1, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 20, 3, 4, 5, 6, 7, 8, 9]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/order/api/v1/manager/paid/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cities'] = opts[:'cities'] if !opts[:'cities'].nil?
      query_params[:'created_at'] = opts[:'created_at'] if !opts[:'created_at'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'order_ids'] = opts[:'order_ids'] if !opts[:'order_ids'].nil?
      query_params[:'ordering'] = opts[:'ordering'] if !opts[:'ordering'].nil?
      query_params[:'payment_types'] = opts[:'payment_types'] if !opts[:'payment_types'].nil?
      query_params[:'provinces'] = opts[:'provinces'] if !opts[:'provinces'].nil?
      query_params[:'reference_code'] = opts[:'reference_code'] if !opts[:'reference_code'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'shipping_types'] = opts[:'shipping_types'] if !opts[:'shipping_types'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'statuses'] = opts[:'statuses'] if !opts[:'statuses'].nil?
      query_params[:'today_pickup'] = opts[:'today_pickup'] if !opts[:'today_pickup'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedMerchantPaidOrderListList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['MerchantAPIKeyAuth']

      new_options = opts.merge(
        :operation => :"MerchantOrdersApi.order_api_v1_manager_paid_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MerchantOrdersApi#order_api_v1_manager_paid_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # بازگشت سفارش
    # <div dir=\"rtl\" style=\"text-align: right;\"> بازگشت و لغو سفارش  ## توضیحات  این endpoint برای بازگشت یا لغو سفارشی استفاده می‌شود که قبلاً پرداخت شده یا تایید شده است. در این مرحله مبلغ سفارش به کاربر بازگشت داده می‌شود و وضعیت سفارش به **REFUNDED** تغییر می‌یابد.   ## شرایط بازگشت  سفارش باید در یکی از وضعیت‌های زیر باشد تا بازگشت امکان‌پذیر باشد: * **PAID_BY_USER**: سفارش پرداخت شده است اما هنوز تایید نشده * **VERIFIED_BY_MERCHANT**: سفارش تایید شده است  سفارش نباید قبلاً بازگشت داده شده باشد.  **پاسخ خطا** - اگر سفارش در وضعیت مناسب نباشد یا قبلاً بازگشت داده شده باشد </div>  ```mermaid sequenceDiagram     participant M as فروشنده     participant API as BWDK API      M->>API: POST /api/v1/orders/manager/{uuid}/refund     Note over M,API: {reason: \"درخواست مشتری\"}      alt سفارش قابل بازگشت نیست         API-->>M: 500 خطا         Note over API,M: {error: \"شروع بازگشت ناموفق بود.<br/>لطفاً دوباره تلاش کنید.\"}     else سفارش معتبر است         API-->>M: 200 موفق         Note over API,M: {message: \"درخواست بازگشت با<br/>موفقیت شروع شد\",<br/>order_uuid, status: 13,<br/>status_display,<br/>refund_reason}          M->>API: GET /api/v1/orders/manager/{uuid}         Note over M,API: بررسی وضعیت سفارش<br/>(endpoint جداگانه /refund/status وجود ندارد)          alt status: 17 (بازگشت تکمیل شد)             API-->>M: 200 موفق             Note over API,M: {order_uuid, status: 17,<br/>status_display: \"بازگشت تکمیل شد\",<br/>metadata.refund_tracking_code,<br/>metadata.refund_completed_at}          else status: 13 (در حال پردازش)             API-->>M: 200 موفق             Note over API,M: {order_uuid, status: 13,<br/>status_display: \"درخواست بازگشت به مشتری<br/>به دلیل درخواست<br/>مشتری\",<br/>metadata.refund_reason}          else status: قبلی (بازگشت ناموفق)             API-->>M: 200 موفق             Note over API,M: {order_uuid, status: (قبلی),<br/>metadata.refund_error,<br/>metadata.refund_failed_at}         end     end ``` 
    # @param order_uuid [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [RefundOrder] :refund_order 
    # @return [MerchantOrderRefundResponse]
    def order_api_v1_manager_refund_create(order_uuid, opts = {})
      data, _status_code, _headers = order_api_v1_manager_refund_create_with_http_info(order_uuid, opts)
      data
    end

    # بازگشت سفارش
    # &lt;div dir&#x3D;\&quot;rtl\&quot; style&#x3D;\&quot;text-align: right;\&quot;&gt; بازگشت و لغو سفارش  ## توضیحات  این endpoint برای بازگشت یا لغو سفارشی استفاده می‌شود که قبلاً پرداخت شده یا تایید شده است. در این مرحله مبلغ سفارش به کاربر بازگشت داده می‌شود و وضعیت سفارش به **REFUNDED** تغییر می‌یابد.   ## شرایط بازگشت  سفارش باید در یکی از وضعیت‌های زیر باشد تا بازگشت امکان‌پذیر باشد: * **PAID_BY_USER**: سفارش پرداخت شده است اما هنوز تایید نشده * **VERIFIED_BY_MERCHANT**: سفارش تایید شده است  سفارش نباید قبلاً بازگشت داده شده باشد.  **پاسخ خطا** - اگر سفارش در وضعیت مناسب نباشد یا قبلاً بازگشت داده شده باشد &lt;/div&gt;  &#x60;&#x60;&#x60;mermaid sequenceDiagram     participant M as فروشنده     participant API as BWDK API      M-&gt;&gt;API: POST /api/v1/orders/manager/{uuid}/refund     Note over M,API: {reason: \&quot;درخواست مشتری\&quot;}      alt سفارش قابل بازگشت نیست         API--&gt;&gt;M: 500 خطا         Note over API,M: {error: \&quot;شروع بازگشت ناموفق بود.&lt;br/&gt;لطفاً دوباره تلاش کنید.\&quot;}     else سفارش معتبر است         API--&gt;&gt;M: 200 موفق         Note over API,M: {message: \&quot;درخواست بازگشت با&lt;br/&gt;موفقیت شروع شد\&quot;,&lt;br/&gt;order_uuid, status: 13,&lt;br/&gt;status_display,&lt;br/&gt;refund_reason}          M-&gt;&gt;API: GET /api/v1/orders/manager/{uuid}         Note over M,API: بررسی وضعیت سفارش&lt;br/&gt;(endpoint جداگانه /refund/status وجود ندارد)          alt status: 17 (بازگشت تکمیل شد)             API--&gt;&gt;M: 200 موفق             Note over API,M: {order_uuid, status: 17,&lt;br/&gt;status_display: \&quot;بازگشت تکمیل شد\&quot;,&lt;br/&gt;metadata.refund_tracking_code,&lt;br/&gt;metadata.refund_completed_at}          else status: 13 (در حال پردازش)             API--&gt;&gt;M: 200 موفق             Note over API,M: {order_uuid, status: 13,&lt;br/&gt;status_display: \&quot;درخواست بازگشت به مشتری&lt;br/&gt;به دلیل درخواست&lt;br/&gt;مشتری\&quot;,&lt;br/&gt;metadata.refund_reason}          else status: قبلی (بازگشت ناموفق)             API--&gt;&gt;M: 200 موفق             Note over API,M: {order_uuid, status: (قبلی),&lt;br/&gt;metadata.refund_error,&lt;br/&gt;metadata.refund_failed_at}         end     end &#x60;&#x60;&#x60; 
    # @param order_uuid [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [RefundOrder] :refund_order 
    # @return [Array<(MerchantOrderRefundResponse, Integer, Hash)>] MerchantOrderRefundResponse data, response status code and response headers
    def order_api_v1_manager_refund_create_with_http_info(order_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MerchantOrdersApi.order_api_v1_manager_refund_create ...'
      end
      # verify the required parameter 'order_uuid' is set
      if @api_client.config.client_side_validation && order_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'order_uuid' when calling MerchantOrdersApi.order_api_v1_manager_refund_create"
      end
      # resource path
      local_var_path = '/order/api/v1/manager/{order_uuid}/refund/'.sub('{' + 'order_uuid' + '}', CGI.escape(order_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'refund_order'])

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantOrderRefundResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['MerchantAPIKeyAuth']

      new_options = opts.merge(
        :operation => :"MerchantOrdersApi.order_api_v1_manager_refund_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MerchantOrdersApi#order_api_v1_manager_refund_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # دریافت سفارش
    # <div dir=\"rtl\" style=\"text-align: right;\">  # مدیریت سفارشات  ## توضیحات  این endpoint برای مدیریت و مشاهده سفارشات فروشنده استفاده می‌شود.  </div> 
    # @param order_uuid [String] 
    # @param [Hash] opts the optional parameters
    # @return [OrderDetail]
    def order_api_v1_manager_retrieve(order_uuid, opts = {})
      data, _status_code, _headers = order_api_v1_manager_retrieve_with_http_info(order_uuid, opts)
      data
    end

    # دریافت سفارش
    # &lt;div dir&#x3D;\&quot;rtl\&quot; style&#x3D;\&quot;text-align: right;\&quot;&gt;  # مدیریت سفارشات  ## توضیحات  این endpoint برای مدیریت و مشاهده سفارشات فروشنده استفاده می‌شود.  &lt;/div&gt; 
    # @param order_uuid [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrderDetail, Integer, Hash)>] OrderDetail data, response status code and response headers
    def order_api_v1_manager_retrieve_with_http_info(order_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MerchantOrdersApi.order_api_v1_manager_retrieve ...'
      end
      # verify the required parameter 'order_uuid' is set
      if @api_client.config.client_side_validation && order_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'order_uuid' when calling MerchantOrdersApi.order_api_v1_manager_retrieve"
      end
      # resource path
      local_var_path = '/order/api/v1/manager/{order_uuid}/'.sub('{' + 'order_uuid' + '}', CGI.escape(order_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrderDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['MerchantAPIKeyAuth']

      new_options = opts.merge(
        :operation => :"MerchantOrdersApi.order_api_v1_manager_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MerchantOrdersApi#order_api_v1_manager_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Order Status
    # <div dir=\"rtl\" style=\"text-align: right;\">  بروزرسانی وضعیت سفارش  ## توضیحات  این endpoint به فروشنده امکان می‌دهد وضعیت یک سفارش را به‌صورت مستقیم تغییر دهد. این endpoint برای مواردی مانند علامت‌گذاری سفارش به‌عنوان «ارسال شده» یا «تحویل داده شده» توسط فروشنده استفاده می‌شود.  نیاز به **API_KEY** فروشنده دارد.  ## وضعیت‌های مجاز  * **DELIVERED**: تحویل شد * **DISPATCHED**: ارسال شد * سایر وضعیت‌های تعریف‌شده در سیستم  </div>  ```mermaid sequenceDiagram     participant M as فروشنده     participant API as BWDK API      M->>API: PUT /order/api/v1/manager/{order_uuid}/update-status/     Note over M,API: Header: X-API-KEY<br/>{status: \"DELIVERED\"}      alt وضعیت معتبر است         API-->>M: 200 موفق         Note over API,M: اطلاعات کامل سفارش با وضعیت جدید     else وضعیت نامعتبر است         API-->>M: 400 خطا         Note over API,M: {error: \"invalid status\"}     end ``` 
    # @param order_uuid [String] 
    # @param update_order_status [UpdateOrderStatus] 
    # @param [Hash] opts the optional parameters
    # @return [OrderDetail]
    def order_api_v1_manager_update_status_update(order_uuid, update_order_status, opts = {})
      data, _status_code, _headers = order_api_v1_manager_update_status_update_with_http_info(order_uuid, update_order_status, opts)
      data
    end

    # Update Order Status
    # &lt;div dir&#x3D;\&quot;rtl\&quot; style&#x3D;\&quot;text-align: right;\&quot;&gt;  بروزرسانی وضعیت سفارش  ## توضیحات  این endpoint به فروشنده امکان می‌دهد وضعیت یک سفارش را به‌صورت مستقیم تغییر دهد. این endpoint برای مواردی مانند علامت‌گذاری سفارش به‌عنوان «ارسال شده» یا «تحویل داده شده» توسط فروشنده استفاده می‌شود.  نیاز به **API_KEY** فروشنده دارد.  ## وضعیت‌های مجاز  * **DELIVERED**: تحویل شد * **DISPATCHED**: ارسال شد * سایر وضعیت‌های تعریف‌شده در سیستم  &lt;/div&gt;  &#x60;&#x60;&#x60;mermaid sequenceDiagram     participant M as فروشنده     participant API as BWDK API      M-&gt;&gt;API: PUT /order/api/v1/manager/{order_uuid}/update-status/     Note over M,API: Header: X-API-KEY&lt;br/&gt;{status: \&quot;DELIVERED\&quot;}      alt وضعیت معتبر است         API--&gt;&gt;M: 200 موفق         Note over API,M: اطلاعات کامل سفارش با وضعیت جدید     else وضعیت نامعتبر است         API--&gt;&gt;M: 400 خطا         Note over API,M: {error: \&quot;invalid status\&quot;}     end &#x60;&#x60;&#x60; 
    # @param order_uuid [String] 
    # @param update_order_status [UpdateOrderStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrderDetail, Integer, Hash)>] OrderDetail data, response status code and response headers
    def order_api_v1_manager_update_status_update_with_http_info(order_uuid, update_order_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MerchantOrdersApi.order_api_v1_manager_update_status_update ...'
      end
      # verify the required parameter 'order_uuid' is set
      if @api_client.config.client_side_validation && order_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'order_uuid' when calling MerchantOrdersApi.order_api_v1_manager_update_status_update"
      end
      # verify the required parameter 'update_order_status' is set
      if @api_client.config.client_side_validation && update_order_status.nil?
        fail ArgumentError, "Missing the required parameter 'update_order_status' when calling MerchantOrdersApi.order_api_v1_manager_update_status_update"
      end
      # resource path
      local_var_path = '/order/api/v1/manager/{order_uuid}/update-status/'.sub('{' + 'order_uuid' + '}', CGI.escape(order_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_order_status)

      # return_type
      return_type = opts[:debug_return_type] || 'OrderDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['MerchantAPIKeyAuth']

      new_options = opts.merge(
        :operation => :"MerchantOrdersApi.order_api_v1_manager_update_status_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MerchantOrdersApi#order_api_v1_manager_update_status_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # تایید سفارش
    # <div dir=\"rtl\" style=\"text-align: right;\">  تایید سفارش پس از پرداخت  ## توضیحات  پس از اتمام فرایند پرداخت توسط کاربر، مرچنت باید سفارش را تایید کند. این endpoint برای تایید و نهایی کردن سفارش پس از پرداخت موفق توسط مشتری استفاده می‌شود. در این مرحله مرچنت سفارش را تایید می‌کند و وضعیت سفارش به **VERIFIED_BY_MERCHANT** تغییر می‌یابد.  ## روند کاری  **مرحله ۲: بازگشت کاربر و دریافت نتیجه**  پس از تکمیل فرایند پرداخت (موفق یا ناموفق)، کاربر به آدرس callback_url که هنگام ساخت سفارش ارسال کرده بودید بازگردانده می‌شود. در این درخواست وضعیت سفارش به صورت query parameters ارسال می‌شود:   **Query Parameters:** * **success**: متغیر منطقی نشان‌دهنده موفق یا ناموفق بودن سفارش * **status**: وضعیت سفارش (PAID، FAILED، وغیره) * **phone_number**: شماره تلفن مشتری * **order_uuid**: شناسه یکتای سفارش * **merchant_order_id**: شناسه سفارش در سیستم مرچنت  **مرحله ۳: تایید سفارش در بک‌اند**  سپس شما باید این endpoint را فراخوانی کنید تا سفارش را تایید کنید و اطمینان حاصل کنید که سفارش موفقیت‌آمیز ثبت شده است: </div> 
    # @param order_uuid [String] 
    # @param verify_order [VerifyOrder] 
    # @param [Hash] opts the optional parameters
    # @return [OrderDetail]
    def order_api_v1_manager_verify_create(order_uuid, verify_order, opts = {})
      data, _status_code, _headers = order_api_v1_manager_verify_create_with_http_info(order_uuid, verify_order, opts)
      data
    end

    # تایید سفارش
    # &lt;div dir&#x3D;\&quot;rtl\&quot; style&#x3D;\&quot;text-align: right;\&quot;&gt;  تایید سفارش پس از پرداخت  ## توضیحات  پس از اتمام فرایند پرداخت توسط کاربر، مرچنت باید سفارش را تایید کند. این endpoint برای تایید و نهایی کردن سفارش پس از پرداخت موفق توسط مشتری استفاده می‌شود. در این مرحله مرچنت سفارش را تایید می‌کند و وضعیت سفارش به **VERIFIED_BY_MERCHANT** تغییر می‌یابد.  ## روند کاری  **مرحله ۲: بازگشت کاربر و دریافت نتیجه**  پس از تکمیل فرایند پرداخت (موفق یا ناموفق)، کاربر به آدرس callback_url که هنگام ساخت سفارش ارسال کرده بودید بازگردانده می‌شود. در این درخواست وضعیت سفارش به صورت query parameters ارسال می‌شود:   **Query Parameters:** * **success**: متغیر منطقی نشان‌دهنده موفق یا ناموفق بودن سفارش * **status**: وضعیت سفارش (PAID، FAILED، وغیره) * **phone_number**: شماره تلفن مشتری * **order_uuid**: شناسه یکتای سفارش * **merchant_order_id**: شناسه سفارش در سیستم مرچنت  **مرحله ۳: تایید سفارش در بک‌اند**  سپس شما باید این endpoint را فراخوانی کنید تا سفارش را تایید کنید و اطمینان حاصل کنید که سفارش موفقیت‌آمیز ثبت شده است: &lt;/div&gt; 
    # @param order_uuid [String] 
    # @param verify_order [VerifyOrder] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrderDetail, Integer, Hash)>] OrderDetail data, response status code and response headers
    def order_api_v1_manager_verify_create_with_http_info(order_uuid, verify_order, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MerchantOrdersApi.order_api_v1_manager_verify_create ...'
      end
      # verify the required parameter 'order_uuid' is set
      if @api_client.config.client_side_validation && order_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'order_uuid' when calling MerchantOrdersApi.order_api_v1_manager_verify_create"
      end
      # verify the required parameter 'verify_order' is set
      if @api_client.config.client_side_validation && verify_order.nil?
        fail ArgumentError, "Missing the required parameter 'verify_order' when calling MerchantOrdersApi.order_api_v1_manager_verify_create"
      end
      # resource path
      local_var_path = '/order/api/v1/manager/{order_uuid}/verify/'.sub('{' + 'order_uuid' + '}', CGI.escape(order_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(verify_order)

      # return_type
      return_type = opts[:debug_return_type] || 'OrderDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['MerchantAPIKeyAuth']

      new_options = opts.merge(
        :operation => :"MerchantOrdersApi.order_api_v1_manager_verify_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MerchantOrdersApi#order_api_v1_manager_verify_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
